.container {
    width:200px;
    margin: auto;
}
.body-bg {
    background: #dddbdb;
}
.container-bg {
    background: #fff;
    padding:20px;
}
.footer-bg {
    background: #000;
    padding: 10px 0;
    color:white;
}
.header-bg {
    background: #000;
    padding: 10px 0;
    color:white;
}
table{
    width: 80%;
}
TD {
    vertical-align: top;
}
#col1{
width: 100px;
}
#col2{
width: 100px;
}
#col3{
  width:100px;
}