.container {
    width:200px;
    margin: auto;
}
.body-bg {
    background: #dddbdb;
}
.container-bg {
    background: #fff;
    padding:20px;
}
.footer-bg {
    background: #000;
    padding: 10px 0;
    color:white;
}
.header-bg {
    background: #000;
    padding: 10px 0;
    color:white;
}