.container {
    margin-left: 30%;
    width:200px;
}
.body-bg {
    align: auto
}
.textimg {
    position: center;
    padding: 5%;
    text-align: center;
}
.footer-bg {
    margin-left: 120px;
    top: 150px;
    padding: 10px 0;
}
.header-bg {
    text-align: center;
    padding: 10px;
}
table{
    width: 80%;
}

#col1 {
    border: 2px solid black;
width: 100px;
}
#col2{
    border: 2px solid black;
width: 100px;
}
#col3{
    border: 2px solid black;
    width:100px;
}
.text-center{

    text-align: center;
    font-weight: bold;
}
.text1{
    max-width: 250px;
    overflow-wrap: break-word;
    text-align: justify;
    left: 150px;
    height: 0;
    padding-top: 5%;
    position: relative;
}
.poz {
    margin-bottom: -30px;
    margin-right: -50%;
    padding: 5%;
    top: -20%;
    left: 180%;
}
.im{
    display: block;
    margin-left: auto;
    margin-right: auto
}
.text4{
    text-align: center;
}