body{
    font-family: Arial;
}
.form-group{
    margin-top: -20px;
}
.form-page{

    max-width: 1000px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top:300px;
    text-align: center;
}
.form1{
    margin-left: 50px;
    padding-top: 20px;
    font-weight: 700;
}
.form2{
    font-weight: 700;
    margin-left: 15px;
    padding-top: 11px;

}
h1{
    margin-left: 50px;

}
.check{
    float: left;
    position: absolute;
    margin-top: -20px;
    margin-left: 330px;
}
.text{
    margin-right: -55px;

}
.button{
    margin-left: 40px;
    background-color: rgba(0, 4, 255, 0.29);
    margin-top: 15px;
    cursor: pointer;
}
.input3{
    margin-top: 15px;
    margin-right: 60px;
}
input{
    width: 200px;
}
